<div id="main">
  <div class="inner">
    <header>
      <h1>Reenviar instruções de confirmação</h1>
    </header>
    <section>

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="4u$ 12u$(small)">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Resend confirmation instructions" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</section>
	</div>
</div>
