<div id="main">
  <div class="inner">
    <header>
      <h1>Editar Perfil </h1>
    </header>
    <section>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="4u$ 12u$(small)">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div><br /><br />

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="4u$ 12u$(small)">
          <%= f.label "Senha" %> <i>(Deixe em branco se não deseja mudar)</i>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            
            <em><%= @minimum_password_length %> caracteres no mínimo</em>
          <% end %>
        </div><br /><br />

        <div class="4u$ 12u$(small)">
          <%= f.label "Confirmar Senha" %> <i>(Deixe em branco se não deseja mudar)</i>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div><br /><br />

        <div class="4u$ 12u$(small)">
          <%= f.label "Senha Atual" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div><br />

        <div class="actions">
          <%= f.submit "Atualizar" %>
        </div>
      <% end %>

      <p>Infeliz? <%= button_to "Cancelar Minha Conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :destroy %></p>

      <%= link_to "Voltar", :back, class: "button special icon fa-arrow-left" %>
    </section>
  </div>
</div>