<div id="main">
  <div class="inner">
    <header>
      <h1>Cadastro</h1>
    </header>
    <section>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="4u$ 12u$(small)">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div><br /><br />

        <div class="4u$ 12u$(small)">
          <%= f.label "Senha" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div><br /><br />

        <div class="4u$ 12u$(small)">
          <%= f.label "Confirmar Senha" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div><br />

        <div class="actions">
          <%= f.submit "Cadastrar" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>