<div id="main">
  <div class="inner">
    <header>
      <h1>Alterar Senha</h1>
    </header>
    <section>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="4u$ 12u$(small)">
          <%= f.label :password, "Nova Senha" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div><br /><br />

        <div class="4u$ 12u$(small)">
          <%= f.label :password_confirmation, "Confirmar Nova Senha" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Alterar minha senha" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>