<div id="main">
  <div class="inner">
    <header>
      <h1>Esqueceu sua senha?</h1>
    </header>
    <section>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="4u$ 12u$(small)">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true %>
		  </div><br />

		  <div class="actions">
		    <%= f.submit "Enviar-me instruções para resetar senha" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</section>
	</div>
</div>