		

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Detalhes do produto</h1>
							</header>
							<section>
									<ul class="actions fit">
										<li><a href="/" class="button <% if @pd_type == "truck" %>
																			special
																		<% end %> fit">Caminhões</a></li>
										<li><a href="/machines" class="button <% if @pd_type == "machine" %>
																			special
																		<% end %> fit">Máquinas</a></li>
									</ul>
							</section>
							<section class="tiles">
								<% @products.each do |product| %>

									<article class="style3">
										<span class="image">
											<% if product.img != nil %>
												<%= image_tag("/uploads/"+product.img) %>
											<% else %>
												<%= image_tag("/images/pic07.jpg") %>
											<% end %>
										</span>
										<%= link_to product do %>
											<h2><%= product.brand %> <%= product.model %></h2>
											<div class="content">
												<p>Preço: <%if product.price == nil %>
											        		A negociar
											        	<%else %>
											        		<%= product.price %>
											        	<%end %>
												</p>
											</div>
										<% end %>
									</article>
								<% end %>
							</section>
						</div>
					</div>
				
