<div id="main">
  <div class="inner">
    <header>
      <h1>Logar</h1>
    </header>
    <section>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Senha" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Lembrar" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Logar" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>

  
