<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pd_type, "Tipo" %>
    <%= form.select(:pd_type, [['Caminhão', 'Caminhão'], ['Máquina', 'Máquina']]) %>
  </div>

  <div class="field">
    <%= form.label :brand, "Marca" %>
    <%= form.select(:brand, [['Foton', 'Foton'], ['Iveco', 'Iveco'], ['Mercedes-Benz', 'Mercedes-Benz'], ['Scania', 'Scania'], ['Volvo', 'Volvo']]) %>
    <!--<sssss%= form.text_field :brand, id: :product_brand %ssssss>-->
  </div>

  <div class="field">
    <%= form.label :model, "Modelo" %>
    <%= form.select(:model, [['Cargo 2422', 'Cargo 2422'], ['F13000', 'F13000']]) %>
    <!--<ssssss%= form.text_field :model, id: :product_model %ssssss>-->
  </div>

  <div class="field">
    <%= form.label :year, "Ano" %>
    <%= form.number_field :year, id: :product_year %>
  </div>

  <div class="field">
    <%= form.label :price, "Preço" %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :img, "Imagem" %>
    <%= form.file_field :img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
