<div id="main">
  <div class="inner">
    <header>
      <h1>Editar Produto</h1>
    </header>
    <section>

		<%= render 'form', product: @product %>
		<br /><br />

		<%= link_to 'Meus Produtos', products_path, class: "button icon fa-bars" %>
	</section>
  </div>
</div>
