<div id="main">
  	<div class="inner">
	    <header>
	      <h1>Produtos</h1>
	    </header>
	    <section>
			<p id="notice"><%= notice %></p>

			<table>
			  <thead>
			    <tr>
			      <th>Imagem</th>
			      <th>Tipo</th>
			      <th>Marca</th>
			      <th>Modelo</th>
			      <th>Ano</th>
			      <th>Preço</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @products.each do |product| %>
			      <tr>
			        <td><% if product.img != nil %>
			        		<%= image_tag("/uploads/"+product.img, size:"200") %></td>
			        	<% end %>
			        <td><%= product.pd_type %></td>
			        <td><%= product.brand %></td>
			        <td><%= product.model %></td>
			        <td><%if product.year == nil %>
			        		####
			        	<%else %>
			        		<%= product.year %>
			        	<%end %></td>
			        <td><%if product.price == nil %>
			        		A negociar
			        	<%else %>
			        		<%= product.price %>
			        	<%end %>
			        </td>
			        <td><%= link_to 'Detalhes', product %></td>
			        <td><%= link_to 'Editar', edit_product_path(product) %></td>
			        <td><%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>

			<br>
			<%= link_to 'Novo Produto', new_product_path, class: "button icon fa-plus" %>
			<br>
			<%= link_to 'Voltar', '/', class: "button icon fa-arrow-left" %>

		</section>
	</div>
</div>