<div id="main">
  <div class="inner">
    <header>
      <h1>Novo Produto</h1>
    </header>
    <section>

		<%= render 'form', product: @product %>

		<%= link_to 'Voltar', '/', class: "button icon fa-arrow-left" %>
	</section>
  </div>
</div>
