<div id="main">
  <div class="inner">
    <header>
      <h1>Encontre os melhores preços em veículos e máquinas pesadas</h1>
    </header>
    <section>
      <p id="notice"><%= notice %></p>

      <p>
        <% if @product.img != nil %>
              <%= image_tag("/uploads/"+product.img) %>
            <% else %>
              <strong>Sem Imagem</strong>
            <% end %>
      </p>

      <p>
        <strong>Tipo:</strong>
        <%= @product.pd_type %>
      </p>

      <p>
        <strong>Marca:</strong>
        <%= @product.brand %>
      </p>

      <p>
        <strong>Modelo:</strong>
        <%= @product.model %>
      </p>

      <p>
        <strong>Ano:</strong>
        <%= @product.year %>
      </p>

      <p>
        <strong>Preço:</strong>
        <%= @product.price %>
      </p>

      <% if user_signed_in? and @product.user_id == current_user.id %>
        <%= link_to 'Editar', edit_product_path(@product), class: "button icon fa-pencil" %>
        <br />
        <%= link_to 'Meus Produtos', products_path, class: "button icon fa-bars" %>
      <% else %>
        <%= link_to 'Voltar', '/', class: "button icon fa-arrow-left" %>
      <% end %>
    </section>
  </div>
</div>
