<!DOCTYPE html>
<html>
  <head>
    <title>Trucadao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
						<a href="/" class="logo">
							<span class="title">Trucadão</span>
						</a>

					<!-- Nav -->
						<nav>
							<ul>
								<li><a href="#menu">Menu</a></li>
							</ul>
						</nav>

				</div>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul class="actions vertical">
					<li><a href="/">Home</a></li>
				        <% if user_signed_in? %>
						  <li><%= link_to 'Edição', products_path, :class => 'navbar-link' %></li>
				          <li><%= link_to 'Perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
				          <li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				        <% else %>
				          <li><%= link_to "Entrar (Logar-se)", new_user_session_path, :class => 'navbar-link'  %></li>
				        <% end %>
				</ul>
			</nav>
			<%= yield %>
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Fale Conosco</h2>
						<form method="post" action="#">
							<div class="field half first">
								<input type="text" name="name" id="name" placeholder="Nome" />
							</div>
							<div class="field half">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="field">
								<textarea name="message" id="message" placeholder="Em que podemos ajudar?"></textarea>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Enviar" class="special" /></li>
							</ul>
						</form>
					</section>
					<section>
						<h2>Siga-nos</h2>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</section>
				</div>
			</footer>

	</div>
  </body>
</html>
